.aboutInnerWrapper {
  background: var(--bg-main);
  height: max-content;
  min-height: 100vh;
  max-height: 100vmax;
  overflow-x: hidden;
  overflow-y: visible;
  z-index: 99;
}

.aboutInnerWrapper::-webkit-scrollbar {
  display: none;
}

.aboutInnerWrapper section {
  position: relative;
  width: 100%;
  perspective: 10rem;
}

.plxBack {
  transform: translateZ(-10rem);
  z-index: -10;
}

.plxFront {
  z-index: 10;
}

.noPlx {
  transform: translateZ(-5rem);
  z-index: 0;
}

.card {
  aspect-ratio: var(--ratio);
  position: absolute;
  left: calc(var(--posX) * 1px); top: calc(var(--posY) * 1px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 14rem;
  height: max-content;
  background: var(var(--color));
  border-radius: .75rem;
  box-shadow: 0 0 .25rem;
  padding: 1.2rem;
  caret-color: transparent;
  transform: scale(100%);
  transform-style: preserve-3d;
  transition: transform 120ms ease-out;
}

.card:hover {
  transform: scale(108%);
  transition: transform 120ms ease-in;
}

.card::before {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: var(--color);
  opacity: 1;
  border-radius: .75rem;
  transition: opacity 200ms linear;
}

.card::after {
  content: 'Click to reveal card';
  position: absolute;
  top: 0; left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 120ms linear;
}

.card:hover::after {
  opacity: 1;
  transition: opacity 120ms linear;
}

.card > h1 {
  padding-bottom: 1rem;
}

.card > p {
  width: 100%;
  text-align: justify;
}

.info {
  aspect-ratio: var( --ratio);
  position: absolute;
  left: calc(var(--posX) * 1px); top: calc(var(--posY) * 1px);
  width: 14rem;
  height: max-content;
  background: var(--bg-main);
  color: var(--fnt-main);
  z-index: 10;
  cursor: default;
}

.info.card::before,
.info.card:hover::after {
  opacity: 0;
  pointer-events: none;
}

/* DARK MODE */
.dark {
  background: var(--fnt-main);
  color: var(--bg-main);
}

/* PHONES */
@media (max-width: 784px) {
  .card::after {
    content: 'Click to reveal card';
    opacity: 1;
  }
}

/* COLORS */
.colorOne {
  --color: var(--fnt-act-1);
}
.colorTwo {
  --color: var(--fnt-act-2);
}
.colorThree {
  --color: var(--fnt-act-3);
}
.colorFour {
  --color: var(--fnt-act-4);
}
.colorFive {
  --color: var(--fnt-act-5);
}