.aboutWrapper {
  position: relative;
  background: var(--bg-main);
  height: 100rem;
  overflow-x: clip;
  overflow-y: scroll;
  z-index: 0;
  perspective: 2rem;
  /* scroll-snap-type: mandatory; */
}

.aboutWrapper::after {
  content: 'ABOUT ME';
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60%;
  font-family: 'Voga', serif;
  font-size: 4.5vw;
  transform: translateY(25%) translateZ(-2rem) scale(400%);
  z-index: -1;
}

.aboutWrapper::-webkit-scrollbar {
  display: none;
}

.aboutWrapper section {
  transform-style: preserve-3d;
  position: relative;
  width: 100%;
}

.plxBack {
  transform: translateZ(-2rem) scale(350%);
  opacity: .6;
  z-index: 0;
}

.plxFront {
  z-index: 20;
}

.noPlx {
  transform: translateZ(-1rem) scale(200%);
  opacity: .8;
  z-index: 10;
}

.card {
  aspect-ratio: var(--ratio);
  position: absolute;
  left: calc(var(--posX) * 1px); top: calc(var(--posY) * 1px);
  display: flex;
  flex-direction: column;
  width: calc(var(--width) * 1rem);
  height: min-content;
  background: var(--color);
  color: var(--fnt-main);
  border-radius: .75rem;
  box-shadow: 0 0 .5rem -.3rem;
  padding: 1.2rem;
  caret-color: transparent;
  transform: scale(100%);
  transition: transform 120ms ease-out;
}

.card::before {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: var(--color);
  opacity: 1;
  border-radius: .75rem;
  transition: opacity 300ms ease-in-out;
}

.clickMe:hover {
  transform: scale(108%);
  transition: transform 200ms cubic-bezier(.1,.8,.2,1);
}

.clickMe::after {
  content: 'Click to reveal card';
  position: absolute;
  top: 0; left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 300ms linear;
}

.clickMe:hover::after {
  opacity: 1;
  transition: opacity 300ms linear;
}

.card > h1 {
  font-size: 1.6rem;
  padding-bottom: 1rem;
}

.card:hover > h1 {
  color: var(--color);
  transition: color 200ms cubic-bezier(.1,.8,.2,1);
}

.card > p {
  width: 100%;
  font-size: 1.1rem;
  margin-block: auto;
}

.info {
  aspect-ratio: var(--ratio);
  position: absolute;
  left: calc(var(--posX) * 1px); top: calc(var(--posY) * 1px);
  width: calc(var(--width) * 1rem);
  height: max-content;
  background: var(--bg-main);
  color: var(--fnt-main);
  z-index: 10;
  cursor: default;
}

.info.card::before,
.info.card:hover::after {
  opacity: 0;
  pointer-events: none;
}

/* DARK MODE */
.dark {
  background: var(--fnt-main);
  color: var(--bg-main);
}

/* PHONES */
@media (max-width: 784px) {
  .aboutWrapper::after {
    align-items: start;
    height: 40%;
    font-size: 8vw;
    transform: translateZ(-4rem) scale(800%);
  }
  
  
  .card::after {
    content: 'Click to reveal card';
    opacity: 1;
  }

  .info, .card.clickMe {
    position: relative;
    left: calc(var(--posX) * 1px / 2); top: 1rem;
    width: 13rem;
    margin-bottom: 2rem;
  }

  .card.info::after {
    opacity: 0;
  }
}

/* COLORS */
.colorOne {
  --color: var(--fnt-act-1);
}
.colorTwo {
  --color: var(--fnt-act-2);
}
.colorThree {
  --color: var(--fnt-act-3);
}
.colorFour {
  --color: var(--fnt-act-4);
}
.colorFive {
  --color: var(--fnt-act-5);
}