.hidden {
  display: none !important;
}

.center {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100vw; height: 100vh;
}

/* Loading */
.cover {
  position: relative;
  top: 0;
  background: var(--bg-main);
  z-index: 99;
}

.loading {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center; align-items: center;
  width: 83%;
  max-width: 30rem;
  perspective: 10rem;
  z-index: 99;
}

.slideUp {
  animation: slideUp 1s cubic-bezier(0, .67, .33, 1) forwards;
  animation-delay: calc(var(--order) * 300ms);
}

.break {
  animation: breakOut 3s cubic-bezier(.13,.91,.1,1) forwards;
}

.glassOff {
  position: absolute;
  animation: glassOff 2s cubic-bezier(.1,.8,.2,1) 350ms forwards;
}

.fadeOut {
  animation: fadeOut 2s ease-out 350ms forwards;
}

#loadingBar {
  width: 100%; height: 1.2rem;
  background: #e0e0e0;
  /* border: .13rem solid #555; */
  border-radius: .3rem;
  opacity: 0;
}

#fill {
  height: 100%;
  background: #c4c4c4;
  border-radius: .3rem;
}

#percentage {
  font-family: 'Montserrat Alternates', sans-serif;
  opacity: 0;
  transform: translate3d(0, 0, 0);
  margin-right: auto;
}

/* HERO */
.heroBg {
  display: flex;
  flex-direction: column;
  width: 100vw; height: 100vh;
  overflow: hidden;
}

.heroBg::after {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100vw; min-height: 100vh;
  background: linear-gradient(
    90deg,
    var(--bg-main) 50%,
    transparent 63%
  );
}

.heroImg {
  position: absolute;
  aspect-ratio: 16/9;
  width: 100vw;
  max-height: 100vh;
  right: 0; top: 0;
  object-fit: cover;
  /* mix-blend-mode: screen; */
  margin-right: -2rem;
}

.heroBg > div {
  position: relative;
  width: max-content;
  z-index: 1;
}

.homeHeader {
  position: relative;
  background: var(--fnt-act-1);
  font-family: 'Voga';
  font-size: 12vw; font-weight: normal;
  color: var(--bg-main);
  padding: .3rem;
  padding-inline: 3.5rem;
  margin-top: 6rem;
  caret-color: transparent;
  box-shadow: 0 4px 12px rgb(90 90 90 / .5);
  z-index: 2;

  transition: all 200ms ease-in;
}

.homeHeader:is(:hover, :focus) {
  translate: -80%;
  box-shadow: 0 4px 12px rgb(90 90 90 / 0);
}

.homeHeader::after {
  content: 'IAN DABINETT';
  position: absolute;
  top: 0;
  width: max-content;
  background: var(--fnt-act-1);
  padding: .3rem;
  padding-inline: 3.5rem;
  translate: -120%;
  z-index: -1;
  box-shadow: 0 4px 12px rgb(90 90 90 / 0);
  transition: all 200ms ease-in;
}

.homeHeader:is(:hover, :focus)::after {
  content: 'IAN DABINETT';
  translate: 0;
  box-shadow: 0 4px 12px rgb(90 90 90 / .5);
}

.heroBg > div > p {
  font-family: Times, serif;
  font-weight: 100;
  font-size: 3em;
}

@media (prefers-color-scheme: dark) {
  #loadingBar {
    background: transparent;
    border: .15rem solid #eee;
    border-radius: 0;
  }
  
  #fill {
    background: #ccc;
    border-radius: 0;
  }

  #percentage {
    font-family: inherit;
  }

  .heroBg {
    align-items: end;
  }
  
  .heroBg::after {
    background: linear-gradient(
      -90deg,
      var(--bg-main) 50%,
      transparent 63%
    );
  }

  .heroImg {
    padding-right: calc(25rem * var(--curr-w) / 1920);
    margin: 0;
  }

  .homeHeader {
    right: 0;
    font-family: 'Lato', sans-serif;
    font-size: 10vw; font-weight: 900;
    color: var(--fnt-main);
    margin-top: 6rem;
  }

  .homeHeader:is(:hover, :focus) {
    translate: 80%;
  }

  .homeHeader::after {
    content: 'IAN DABINETT';
    position: absolute;
    width: max-content;
    background: var(--fnt-act-1);
    padding: .3rem;
    padding-inline: 3.5rem;
    translate: 0%;
    z-index: -1;
    transition: all 200ms ease-in;
  }
  
  .homeHeader:is(:hover, :focus)::after {
    content: 'IAN DABINETT';
    translate: -115%;
  }

  .heroBg > div > p {
    font-family: lato, sans-serif;
    margin-right: 1.2rem;
  }
}

/* PHONES */
@media (max-width: 600px) {
  
}

@keyframes slideUp {
  from {translate: 0 4rem; opacity: 0;}
  to {translate: 0 0; opacity: 1;}
}

@keyframes breakOut {
  0% {
    transform: translate3d(0 0 0);
    filter: blur(0);
    opacity: 1;
  }
  100% {
    transform: translate3d(calc(var(--shift) * .1rem), calc(var(--shift) * -.1rem), 5rem);
    filter: blur(.6rem);
    opacity: 0;
  }
}

@keyframes glassOff {
  from {
    filter: blur(.3rem);
  }
  to {
    filter: blur(0);
  }
}

@keyframes fadeOut {
  0% {
    z-index: 99;
    opacity: 1;
  }
  99% {
    z-index: 99;
    opacity: 0;
  }
  100% {
    z-index: -99;
    opacity: 0;
  }
} 

@keyframes nameHeader {
  
}