.hidden {
  display: none !important;
}

.center {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100vw; height: 100vh;
}

.scrollSnap {
  scroll-snap-type: y mandatory;
}

/* Loading */
.cover {
  position: fixed;
  top: 0;
  width: 100vw; height: 100vmax;
  background: var(--bg-main);
  z-index: 99;
}

.loading {
  display: flex;
  position: fixed;
  top: 0;
  flex-direction: column;
  justify-content: center; align-items: center;
  height: 100vh;
  width: 83%;
  max-width: 30rem;
  perspective: 10rem;
  z-index: 99;
}

.slideUp {
  animation: slideUp 1s cubic-bezier(0, .67, .33, 1) forwards;
  animation-delay: calc(var(--order) * 300ms);
}

.break {
  animation: breakOut 3s cubic-bezier(.13,.91,.1,1) forwards;
}

.glassOff {
  position: absolute;
  animation: glassOff 2s cubic-bezier(.1,.8,.2,1) 350ms forwards;
}

.fadeOut {
  pointer-events: none;
  animation: fadeOut 2s ease-out 350ms forwards;
}

#loadingBar {
  width: 100%; height: 1.2rem;
  background: #e0e0e0;
  /* border: .13rem solid #555; */
  border-radius: .3rem;
  opacity: 0;
}

#fill {
  height: 100%;
  background: #c4c4c4;
  border-radius: .3rem;
}

#percentage {
  font-family: 'Montserrat Alternates', sans-serif;
  opacity: 0;
  transform: translate3d(0, 0, 0);
  margin-right: auto;
}

/* HERO */
.heroBg {
  display: flex;
  flex-direction: column;
  width: 100vw; height: 120vh;
  overflow: hidden;
  scroll-snap-type: block;
}

.heroBg::after {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100vw; min-height: 100vh;
  background: linear-gradient(
    90deg,
    var(--bg-main) 50%,
    transparent 63%
  );
}

.heroImg {
  position: absolute;
  aspect-ratio: 16/9;
  width: 100vw;
  min-height: 50vh;
  max-height: 100vh;
  right: 0; top: 0;
  object-fit: cover;
  /* mix-blend-mode: screen; */
  margin-right: -2rem;
}

.heroBg > div {
  position: relative;
  width: max-content;
  z-index: 1;
}

.homeHeader {
  position: relative;
  background: var(--fnt-act-1);
  font-family: 'Voga';
  font-size: 12vw; font-weight: normal;
  color: var(--bg-main);
  padding: .3rem;
  padding-inline: 3.5rem;
  margin-top: 6rem;
  caret-color: transparent;
  box-shadow: 0 4px 12px rgb(90 90 90 / .5);
  z-index: 2;

  transition: all 200ms ease-in;
}

.homeHeader:is(:hover, :focus, :active) {
  translate: -80%;
  box-shadow: 0 4px 12px rgb(90 90 90 / 0);
}

.homeHeader::after {
  content: 'IAN DABINETT';
  position: absolute;
  top: 0;
  width: max-content;
  background: var(--fnt-act-1);
  padding: .3rem;
  padding-inline: 3.5rem;
  translate: -120%;
  z-index: -1;
  box-shadow: 0 4px 12px rgb(90 90 90 / 0);
  transition: all 200ms ease-in;
}

.homeHeader:is(:hover, :focus, :active)::after {
  content: 'IAN DABINETT';
  translate: 0;
  box-shadow: 0 4px 12px rgb(90 90 90 / .5);
}

.heroBg > div > p {
  font-family: Times, serif;
  font-weight: 100;
  font-size: clamp(5.5em, 9vw, 90em);
  user-select: none;
}

.heroBg > div > a {
  display: block;
  position: relative;
  width: max-content;
  font-family: lato, sans-serif;
  font-size: clamp(3.5rem, 5vw, 90rem); font-weight: bold; text-transform: uppercase;
  color: var(--fnt-main);
  line-height: .3em;
  user-select: none;
}

.heroBg > div > a:is(:hover, :focus, :active) {
  font-size: 8vw;
  color: var(--fnt-act-2);
  z-index: 1;
}

.heroBg > div > a::before {
  content: attr(value);
  display: block;
  position: relative;
  left: 0; top: 0;
  font-weight: bold;
  color: var(--fnt-main);
  translate: 0 100%;
  transition: translate 120ms cubic-bezier(.1,.8,.2,1) 0ms;
}

.heroBg > div > a:is(:hover, :focus, :active)::before {
  color: var(--fnt-act-1);
  translate: 0 250%;
  transition: translate 120ms cubic-bezier(.1,.8,.2,1) 60ms;
}

.heroBg > div > a::after {
  content: attr(value);
  display: block;
  position: relative;
  left: 0; top: 0;
  font-weight: bold;
  color: var(--fnt-main);
  translate: 0 -100%;
  transition: margin-top 120ms cubic-bezier(.1,.8,.2,1) 0ms;
}

.heroBg > div > a:is(:hover, :focus, :active)::after {
  color: var(--fnt-act-3);
  margin-top: 1em;
  transition: margin-top 120ms cubic-bezier(.1,.8,.2,1) 120ms;
}

@media (prefers-color-scheme: dark) {
  #loadingBar {
    background: transparent;
    border: .15rem solid #eee;
    border-radius: 0;
  }
  
  #fill {
    background: #ccc;
    border-radius: 0;
  }

  #percentage {
    font-family: inherit;
  }

  .heroBg {
    align-items: end;
  }
  
  .heroBg::after {
    background: linear-gradient(
      -90deg,
      var(--bg-main) 50%,
      transparent 63%
    );
  }

  .heroImg {
    padding-right: calc(25rem * var(--curr-w) / 1920);
    margin: 0;
  }

  .homeHeader {
    right: 0;
    font-family: 'Lato', sans-serif;
    font-size: 10vw; font-weight: 900;
    color: var(--fnt-main);
    margin-top: 6rem;
  }

  .homeHeader:is(:hover, :focus) {
    translate: 80%;
  }

  .homeHeader::after {
    content: 'IAN DABINETT';
    position: absolute;
    width: max-content;
    background: var(--fnt-act-1);
    padding: .3rem;
    padding-inline: 3.5rem;
    translate: 0%;
    z-index: -1;
    transition: all 200ms ease-in;
  }
  
  .homeHeader:is(:hover, :focus)::after {
    content: 'IAN DABINETT';
    translate: -115%;
  }

  .heroBg > div > p {
    font-family: lato, sans-serif;
    font-size: 7vw; font-weight: 100; font-style: italic;
    margin-right: 7vw;
    user-select: none;
  }

  .heroBg > div > a {
    display: inline;
    position: relative;
    width: initial;
    writing-mode: vertical-lr;
    font-family: lato, sans-serif;
    font-size: 5vw; 
    color: transparent;
    text-transform: lowercase;
    line-height: initial;
    vertical-align: top;
    pointer-events: none;
    user-select: none;
  }
  
  .heroBg > div > a:hover {
    font-size: 5vw;
    color: transparent;
  }

  .heroBg > div > a::before {
    content: attr(href);
    display: inline;
    position: absolute;
    left: initial; top: 0;
    font-weight: 100;
    color: var(--fnt-main);
    translate: initial;
    pointer-events: initial;
    opacity: 1;
    transition: all 300ms cubic-bezier(.1,.8,.2,1);
  }
  
  .heroBg > div > a:is(:hover, :focus)::before {
    color: currentColor;
    opacity: 0;
    letter-spacing: -1rem;
    translate: initial;
    transition: all 300ms cubic-bezier(.1,.8,.2,1);
  }

  .heroBg > div > a::after {
    content: attr(href);
    display: inline;
    position: absolute;
    left: initial; top: 0;
    text-orientation: upright;
    font-family: 'EXO 2';
    font-size: 3.5vw; font-weight: 300; text-transform: uppercase;
    /* font-weight: 700; text-transform: uppercase; */
    color: var(--fnt-main);
    pointer-events: initial;
    letter-spacing: -2.5rem;
    /* letter-spacing: 0.5rem; */
    opacity: 0;
    translate: 0;
    transition: all 300ms cubic-bezier(.1,.8,.2,1);
  }
  
  .heroBg > div > a:is(:hover, :focus)::after {
    opacity: 1;
    letter-spacing: -1.0rem;
    margin-top: 0;
    color: var(--fnt-main);
    /* letter-spacing: 1.5rem; */
    transition: all 300ms cubic-bezier(.1,.8,.2,1);
  }
}

/* PHONES */
@media (max-width: 600px) {
  .heroBg::after {
    display: none;
  }

  .heroImg {
    display: block;
    position: relative;
    width: initial;
    height: 50vh;
    margin-left: auto;
  }

  .homeHeader {
    position: absolute;
    pointer-events: none;
    color: transparent;
    box-shadow: 0 4px 12px rgb(90 90 90 / 0);
    translate: 0 -150%;
    padding-inline: 0;
    margin: 0;
  }
  
  .homeHeader::after {
    left: 0;
    width: 100vw;
    font-size: 22vw;
    color: var(--bg-main);
    text-align: center;
    padding-inline: 2rem;
    translate: 0%;
    padding-inline: 0;
    margin: 0;
    box-shadow: 0 4px 12px rgb(90 90 90 / .5);
  }
}

@keyframes slideUp {
  from {translate: 0 4rem; opacity: 0;}
  to {translate: 0 0; opacity: 1;}
}

@keyframes breakOut {
  0% {
    transform: translate3d(0 0 0);
    filter: blur(0);
    opacity: 1;
  }
  100% {
    transform: translate3d(calc(var(--shift) * .1rem), calc(var(--shift) * -.1rem), 5rem);
    filter: blur(.6rem);
    opacity: 0;
  }
}

@keyframes glassOff {
  from {
    filter: blur(.3rem);
  }
  to {
    filter: blur(0);
  }
}

@keyframes fadeOut {
  0% {
    z-index: 99;
    opacity: 1;
  }
  99% {
    z-index: 99;
    opacity: 0;
  }
  100% {
    z-index: -99;
    opacity: 0;
  }
} 

@keyframes nameHeader {
  
}