.dark {
  font-family: 'Lato';
  --bg-main: #010101;
  --fnt-main: #eee;
  --fnt-act-1: #57e;
  --fnt-act-2: #8e7;
  --fnt-act-3: #e66;
  color: #eee;
  background: var(--bg-main);
  color-scheme: dark;
}

.hidden {
  display: none !important;
}

.center {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100vw; height: 100vh;
}

.scrollSnap {
  scroll-snap-type: y mandatory;
}

/* Loading */
.cover {
  position: absolute;
  top: 0;
  width: 100vw; height: 100vh;
  background: var(--bg-main);
  z-index: 99;
}

.loading {
  display: flex;
  position: fixed;
  top: 0;
  flex-direction: column;
  justify-content: center; align-items: center;
  height: 100vh;
  width: 83%;
  max-width: 30rem;
  perspective: 10rem;
  z-index: 99;
}

.slideUp {
  animation: slideUp 1s cubic-bezier(0, .67, .33, 1) forwards;
  animation-delay: calc(var(--order) * 300ms);
}

.break {
  animation: breakOut 3s cubic-bezier(.13,.91,.1,1) forwards;
}

.glassOff {
  position: absolute;
  animation: glassOff 2s cubic-bezier(.1,.8,.2,1) 350ms forwards;
}

.fadeOut {
  pointer-events: none;
  animation: fadeOut 2s ease-out 350ms forwards;
}

#loadingBar {
  width: 100%; height: 1.2rem;
  background: #e0e0e0;
  /* border: .13rem solid #555; */
  border-radius: .3rem;
  opacity: 0;
}

#fill {
  height: 100%;
  background: #c4c4c4;
  border-radius: .3rem;
}

#percentage {
  font-family: 'Montserrat Alternates', sans-serif;
  opacity: 0;
  transform: translate3d(0, 0, 0);
  margin-right: auto;
}

/* HERO */
.heroBg {
  /* aspect-ratio: 16/9; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: clip;
  overflow-y: visible;
  width: 100vw;
  min-height: 100vh;
  scroll-snap-type: block;
  z-index: 10;
  padding-bottom: 12rem;
  margin-bottom: 12rem;
}

.heroBg::after {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100vw; height: min-content;
  background: linear-gradient(
    90deg,
    var(--bg-main) 50%,
    transparent 63%
  );
}

.heroImg {
  /* aspect-ratio: 16/9; */
  position: absolute;
  max-width: 97vw;
  min-height: 100vh;
  right: 0; top: 0;
  object-fit: cover;
  object-position: right;
  overflow: clip;
}

.heroBg > div {
  position: relative;
  width: max-content;
  z-index: 1;
}

.homeHeader {
  position: relative;
  background: var(--fnt-act-1);
  font-family: 'Voga';
  font-size: 12vw; font-weight: normal;
  color: var(--bg-main);
  padding: .3rem;
  padding-inline: 3.5rem;
  margin-top: 6rem;
  caret-color: transparent;
  box-shadow: 0 4px 12px rgb(90 90 90 / .5);
  z-index: 2;

  transition: all 200ms ease-in;
}

.homeHeader:is(:hover, :focus, :active) {
  transform: translateX(-80%);
  box-shadow: 0 4px 12px rgb(90 90 90 / 0);
}

.homeHeader::after {
  content: 'IAN DABINETT';
  position: absolute;
  top: 0;
  width: max-content;
  background: var(--fnt-act-1);
  white-space: nowrap;
  padding: .3rem;
  padding-inline: 3.5rem;
  transform: translateX(-120%);
  z-index: -1;
  box-shadow: 0 4px 12px rgb(90 90 90 / 0);
  transition: all 200ms ease-in;
}

.homeHeader:is(:hover, :focus, :active)::after {
  transform: translateX(0);
  box-shadow: 0 4px 12px rgb(90 90 90 / .5);
}

.heroBg > div > p {
  font-family: Times, serif;
  font-weight: 100;
  font-size: clamp(5.5em, 9vw, 90em);
  user-select: none;
}

.heroBg > div a {
  display: block;
  position: relative;
  width: min-content;
  font-family: lato, sans-serif;
  font-size: clamp(6rem, 6vw, 90rem); 
  font-weight: bold; text-transform: uppercase;
  color: var(--fnt-main);
  line-height: .3em;
  user-select: none;
  z-index: 90;
}

.heroBg > div a:is(:hover, :focus, :active) {
  font-size: clamp(4.0rem, 9vw, 90rem);
  color: var(--fnt-act-2);
  z-index: 1;
}

.heroBg > div a::before {
  content: attr(value);
  display: block;
  position: relative;
  left: 0; top: 0;
  font-weight: bold;
  color: var(--fnt-main);
  transform: translateY(100%);
  transition: transform 80ms cubic-bezier(.1,.8,.2,1) 0ms;
}

.heroBg > div a:is(:hover, :focus, :active)::before {
  color: var(--fnt-act-1);
  transform: translateY(275%);
  transition: transform 80ms cubic-bezier(.1,.8,.2,1) 40ms;
}

.heroBg > div a::after {
  content: attr(value);
  display: block;
  position: relative;
  left: 0; top: 0;
  font-weight: bold;
  color: var(--fnt-main);
  transform: translateY(-100%);
  transition: margin-top 80ms cubic-bezier(.1,.8,.2,1) 0ms;
}

.heroBg > div a:is(:hover, :focus, :active)::after {
  color: var(--fnt-act-3);
  margin-top: 1em;
  transform: translateY(-80%);
  transition: margin-top 80ms cubic-bezier(.1,.8,.2,1) 80ms;
}

/* @media (prefers-color-scheme: dark) { */
  .dark #loadingBar {
    background: transparent;
    border: .15rem solid #eee;
    border-radius: 0;
  }
  
  .dark #fill {
    background: #ccc;
    border-radius: 0;
  }

  .dark #percentage {
    font-family: inherit;
  }

  .dark .homeHeader {
    font-family: 'Lato', sans-serif;
    font-size: 11vw;
    font-weight: 900;
    color: var(--fnt-main)
  }

  .dark .homeHeader:is(:hover, :focus, :active) {
    transform: translateX(-85%);
    box-shadow: 0 4px 12px rgb(90 90 90 / 0);
  }

  .dark .heroBg > div > p {
    color: var(--bg-main)
  }
/* }  */

/* PHONES */
@media (max-width: 784px) {
  .heroBg {
    min-height: 100vh;
  }

  .heroBg::after {
    display: none;
  }

  .heroImg {
    position: relative;
    left: 0; right: 0;
    display: inline;
    max-width: 100vw;
    min-height: 50vh;
    object-position: right;
  }
  
  .heroBg > div a {
    font-size: clamp(3.5rem, 6vw, 90rem); 
  }

  .homeHeader,
  .dark .homeHeader {
    position: absolute;
    pointer-events: none;
    color: transparent;
    box-shadow: 0 4px 12px rgb(90 90 90 / 0);
    transform: translateY(-150%);
    padding-inline: 0;
    margin: 0;
  }

  .dark .homeHeader {
    transform: translateY(-100%);
  }
  
  .homeHeader::after,
  .dark .homeHeader::after {
    left: 0;
    width: 100vw;
    font-size: 22vw;
    color: var(--bg-main);
    text-align: center;
    padding-inline: 2rem;
    transform: translateY(0%);
    padding-inline: 0;
    margin: 0;
    box-shadow: 0 4px 12px rgb(90 90 90 / .5);
  }

  .dark .homeHeader::after {
    font-size: 14vw;
    color: var(--fnt-main);
  }

  .dark .heroBg > div > p {
    color: var(--fnt-main);
  }
}

@keyframes slideUp {
  from {translate: 0 4rem; opacity: 0;}
  to {translate: 0 0; opacity: 1;}
}

@keyframes breakOut {
  0% {
    transform: translate3d(0 0 0);
    filter: blur(0);
    opacity: 1;
  }
  100% {
    transform: translate3d(calc(var(--shift) * .1rem), calc(var(--shift) * -.1rem), 5rem);
    filter: blur(.6rem);
    opacity: 0;
  }
}

@keyframes glassOff {
  from {
    filter: blur(.3rem);
  }
  to {
    filter: blur(0);
  }
}

@keyframes fadeOut {
  0% {
    z-index: 99;
    opacity: 1;
  }
  99% {
    z-index: 99;
    opacity: 0;
  }
  100% {
    z-index: -99;
    opacity: 0;
  }
}