.dark {
  font-family: 'Lato';
  --bg-main: #010101;
  --fnt-main: #eee;
  --fnt-act-1: #57e;
  --fnt-act-2: #6c5;
  --fnt-act-3: #e66;
  --fnt-act-4: #d7d755;
  --fnt-act-5: #d8d;
  color: #eee;
  background: var(--bg-main);
  color-scheme: dark;
}

.navWrapper {
  position: fixed;
  top: 0;
  width: 100vw;
  background: linear-gradient(
    to bottom,
    rgb(0 0 0 / .2),
    transparent
  );
  z-index: 1;
  padding-bottom: 2.5rem;
  pointer-events: none;
}

.nav {
  width: max-content;
  background: var(--fnt-act-1);
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  font-style: italic;
  color: transparent;
  text-align: center;
  border-radius: 0 0 1.5rem 1.5rem;
  padding-block: .5rem;
  padding-inline: 2vw;
  margin-inline: auto;
  pointer-events: initial;
  user-select: none;
  transform: translateY(-2rem);
  transition: all 300ms cubic-bezier(.1,.8,.2,1);
}

.nav:is(:hover, :focus, :focus-within, :active) {
  color: var(--bg-main);
  transform: translateZ(0);
  transition: transform 200ms cubic-bezier(.1,.8,.2,1),
              color 300ms linear;
}

.nav > a {
  border-radius: .5rem;
  padding: .12em .5em;
}

.nav > a:hover {
  background: rgb(0 0 0 / .12);
}

/* DARK */
.dark .nav:hover {
  color: var(--fnt-main);
}

@media (max-width: 768px) {
  .nav {
    width: 90%;
    font-size: 1.2rem;
    transform: translateY(-1.5rem);
  }
}